@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
}

.hero {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.children {
  background-color: #f6fafb;
}
